* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans';
}

.flex {
    display: flex;
}

a {
    margin: 8px 16px;
    text-decoration: none;
}

/* Header */

header {
    background-color: #0084FD;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 132, 253, 0.5);
}

nav {
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1%;
}

li {
    list-style: none;
    color: white;
    font-size: 14px;
}

.logo {
    padding: 1% 2%;
}

.button {
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 8px 16px;
}

.menu {
    display: none;
    color: white;
    font-size: 24px;
}

/* /Header */

/* Debug */

.debug-col {
    min-height: 400px;
    width: 100%;
}

.debug-card {
    min-height: 400px;
    min-width: 300px;
}

/* /Debug */

/* Main */

.violet {
    background-color: #9792E4;
}

.container {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 1140px;
}

/* Demo */

.demo {
    padding-top: 1.5rem;
}

.row {
    flex-wrap: wrap;
    gap: 12px;
}

.demo>.container>.row>section {
    background-color: #B5DDFF;
    border-radius: 24px;
    margin: 0 auto;
}

.col-8 {
    width: calc(((100% - 24px) / 3) * 2 + 12px);
    padding: 24px 24px 0;
}

.col-4 {
    width: calc((100% - 24px) / 3);
    text-align: center;
    padding: 24px;
}

.col-6 {
    width: calc((100% / 2) - 12px);
    flex-direction: column;
    align-items: center;
}

.demo .fa-solid {
    color: #0084FD;
    font-size: 80px;
    margin: 30px;
}

h3 {
    font-size: 24px;
    color: #0084FD;
    margin-bottom: 30px;
}

.demo p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: bold;
    color: #607587;
}

.image {
    width: 100%;
}

.demo a {
    background-color: #0084FD;
    padding: 8px 32px;
    color: white;
    letter-spacing: 2px;
    display: inline-block;
}

.demo .button {
    margin: 0;
}

.col-8 p {
    margin-bottom: 40px;
}

.fa-apple {
    color: white;
}

/* Planning */

.planning .container {
    align-items: end;
    gap: 40px;
}

.planning-img>img {
    width: 100%;
}

.planning-card {
    background-color: white;
    border-radius: 48px;
}

/* Partner */

.partner-text {
    text-align: center;
}

.partner-card {
    background-color: #9792E4;
    border-radius: 48px;
    margin: 1rem 0;
}

/* Benefit */

.benefit h1 {
    text-align: center;
}

.grid {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.benefit-card {
    background-color: white;
    border-radius: 48px;
    width: calc((100% - 30px) / 3);
}

/* About */

.about-img>img {
    width: 100%;
    border-radius: 50%;
}

/* Started */

.started-section {
    text-align: center;
}

/* /Main */
/* Footer */

footer {
    background-color: #333333;
    padding: 10px 0;
    width: 100%;
}

footer .container {
    width: 50%;
    max-width: 400px;
}

footer p {
    color: white;
    font-size: 10px;
    padding: 30px 0;
    line-height: 1.6;
    text-align: center;
}

footer span {
    color: #9792E4;
    text-decoration: underline;
}

/* /Footer */

/* Responsive */

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

}


@media screen and (max-width: 992px) {

    /* Header */
    .nav-link {
        display: none;
    }

    .menu {
        display: block;
    }

    /* Main */

    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    /* Demo */

    .col-8 {
        flex-wrap: wrap;
        align-items: center;
    }

    .col-6 {
        width: 100%;
    }

    .image {
        max-width: 280px;
        display: block;
        margin-top: 20px;

    }

    /* /Demo */

    .planning .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .benefit-card {
        width: calc((100% - 15px) / 2);
    }
}


@media screen and (max-width: 768px) {

    .container {
        max-width: 750px;
        margin: 0 auto;
    }

    .col-8 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .benefit-card {
        width: 100%;
    }

    .reverse {
        flex-wrap: wrap;
    }
}

/* /Responsive */