* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans';
}

.flex {
    display: flex;
}

a {
    margin: 8px 16px;
    text-decoration: none;
}

/* Header */

header {
    background-color: #0084FD;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 132, 253, 0.5);
}

nav {
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1%;
}

li {
    list-style: none;
    color: white;
    font-size: 14px;
}

.logo {
    padding: 1% 2%;
}

.button {
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 8px 16px;
}

.menu {
    display: none;
    color: white;
    font-size: 24px;
}

/* /Header */

/* Debug */

.debug-col {
    min-height: 200px;
}

.debug-card {
    min-height: 400px;
}

/* /Debug */

/* Main */

.violet {
    background-color: #9792E4;
}

.container {
    margin: 0 auto;
    padding: 1.5rem;
}

/* Demo */

.demo {
    padding-top: 1.5rem;
}

.demo>.container>section {
    background-color: #B5DDFF;
    border-radius: 24px;
    margin: 1rem 0;
}

/* Planning */

.planning-img>img {
    width: 100%;
}

.planning-card {
    background-color: white;
    border-radius: 48px;
    margin: 1rem 0;
}

/* Partner */

.partner-card {
    background-color: #9792E4;
    border-radius: 48px;
    margin: 1rem 0;
}

/* Benefit */

.benefit-card {
    background-color: white;
    border-radius: 48px;
    margin: 1rem 0;
}

/* About */

.about-img>img {
    width: 100%;
    border-radius: 50%;
}

/* Started */
/* /Main */

/* Footer */

/* /Footer */

/* Responsive */

@media screen and (max-width: 1200px) {}


@media screen and (max-width: 992px) {
    .nav-link {
        display: none;
    }

    .menu {
        display: block;
    }
}


@media screen and (max-width: 768px) {}


/* /Responsive */